<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-for实例</title>
  <script src="https://cdn.bootcss.com/vue/2.5.20/vue.js"></script>
</head>
<body>
  <h1>v-for循环</h1>
  <hr>
  <div id="app">
    <ol>
      <li v-for="item in sortItems">{{item}}</li>
    </ol>
    <ul>
      <li v-for="student in sortStudents">{{student.name}}:{{student.age}}</li>
    </ul>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        items: [11,14,22,7,23,25],
        students: [
          {
            name: 'jxy',
            age: 21
          },{
            name: 'jky',
            age: 13
          },{
            name: 'jjy',
            age: 15
          },{
            name: 'jjj',
            age: 19
          }
        ]
      },
      computed: {
        sortItems: function() {
          return this.items.sort(sortNumber);
        },
        sortStudents: function() {
          return sortByKey(this.students,'age');
        }
      }
    })
    function sortNumber(a,b) {
      return a - b;
    }
    function sortByKey(array, key) {
      return array.sort(function(a,b) {
        var x = a[key];
        var y = b[key];
        return x<y?-1:x>y?1:0;
      })
    }
  </script>
</body>
</html>